.container{
    padding: 0px;
    border: 0px;
    margin: 0;
    height: 100vh;
    background-color: black;
    overflow-y: scroll;

}

.box{
    /* height: 400px; */
    border: 2px solid white;
   margin-left: 10px;
   margin-right: 10px;
}

.marginTop{
    margin-top: 20px;
}

.textColor{
    color: white;
}

.top{
    display: flex;
}

.right{
    margin-left: 800px;
}

.marginLeft-20{
   margin-left: 20px;

}

.img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* border: 2px solid white; */
     margin-left: 50px;
   /* background-image: url("assets/profile.jpeg"); */
   background-size:cover;
   background-repeat: no-repeat;
   background-position:left
}

.name{
    text-transform: uppercase;
    font-size: 40px;
    margin-left: 200px;
    margin-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

.flex1{
    display: flex;
    /* flex-direction: row; */
}

.profile{
    height: 100%;
    width: 30%;
}

.title{
    margin-top: 40px;
    margin-left: 30px;
    text-transform: capitalize;
}
.profile_content{
    height: 100%;
    /* width: fit-content; */
    margin-top: 30px;
    /* margin-left: 30px; */
    text-transform: capitalize;
    margin-bottom: 20px;
    
}

.capital{
    text-transform: capitalize;
}

.link{
    text-decoration: none;
    color: white;
}

li{
    /* list-style: circle; */
    list-style:none;
    /* margin-left: 40px; */
}

.sec-col{
    margin-left: 50px;
    /* margin-top: 30px; */
}

.line-height{
    line-height: 30px;

}

.skills{
    margin-top: 40px;
    margin-bottom: 40px;
}

.add{
    margin-left: 60px;
}
.small{
    text-transform: lowercase;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.acolor{
    color: rgb(226, 138, 24);
}

.cont{
    height: 100vh;
}

.bg-tmp1{
    background-color: black;
    color: white;

}

.logo{
    background-image: url("../public/resume_logo.png");
    background-repeat: no-repeat;
}


/* background image for main page */

.back{
    background-image: url("../public/bg_img.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* opacity: 0.4; */

}

.txt{
    opacity: 0.7;
    z-index: -1;
}

.txt1{
    color : rgb(7, 7, 17);
    font-weight: bold;
}

.btn{
    background-color: #0091ff;;
}
/* 
.blue{
    background-color: rgb(86, 177, 202);
} */


