
.flex{
    display: flex;
    flex-direction: column;
}

.di{
    height: 50px;
    margin-top: 10px;
    text-transform: uppercase;
    color: azure;
}

.inp{
    height: 30px;
    width: 260px;
    position: relative;
    top: 40px 40px;
    color: black;
    border-radius: 10px;
    

}

.center{
    text-align: center;
    margin-top: 40px;
}

.margin-10{
    margin-top: 10px
}

.contai{
    height: 100vh;
}

.heading{
    color: rgb(114, 114, 153);
    font-size: 30px;
    text-transform: capitalize;
}

.mt-50{
    margin-top: 100px;
}

.inpbg{
    background-image: url("../public/input_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}